
.image-card {
    height: 461px;
    width: 343px;
    position: relative;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 100px;
}

.image-card img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.image-card:hover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 0.463) 0%, rgba(0,0,0,0.5144651610644257) 47%, rgba(0,0,0,0.18393294817927175) 100%);
}