
.image-card {
    height: 461px;
    width: 343px;
    position: relative;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    margin-top: 100px;
}

.image-card img {
    position: absolute;
    width: 100%;
    height: 100%;
}